*{
    margin:0px;
    padding:0px;
}
nav{
    background-color: black;
    color: aliceblue;
    padding:20px;

}
ul,li,h1{
    display:inline;
}
ul{
    margin-left: 60%;
}
li{
    color: grey;
    cursor:pointer;
}
li:hover{
    color:aliceblue;
}
input{
    padding:15px;
    width:900px;
    height:30px;
}
.searchbar{
    padding:40px;
    text-align: center;
}
.box{
    border-color: black;
    border-width: 3px;
    border-radius: 8px;
    border-style:solid;
    display:inline-block;
    width:299px;
}
.box:hover{
    background-color: black;
    color:aliceblue
}
.products{
    text-align: center;
}
.about{
    text-align: center;
    margin-top: 20px;

}
p{
    text-align: center;
    margin-top: 10px;
    
}
.contact{
    background-color: black;
    color: aliceblue;
    text-align: center;
    height:150px;
}
p{
    color:grey;
}

